app.name=money-transfer-api
address=your_address
env=your_env # development, staging, production
port=8090 # default port being used if not specified on cli
version="v1"
postgresql.money_transfer_db.host=your_host
postgresql.money_transfer_db.user=your_user
postgresql.money_transfer_db.password=your_password
postgresql.money_transfer_db.db=your_db
postgresql.money_transfer_db.port=yout_port
postgresql.money_transfer_db.ssl=disable
postgresql.money_transfer_db.schema=your_schema
postgresql.money_transfer_db.debug=true
postgresql.money_transfer_db.poolMaxConns=20